@use 'sass:math';
@use 'sass:color';

@function generateShadow(
  $startColor,
  $endColor,
  $layers,
  $blur,
  $slope,
  $offsetFactor
) {
  // Create a list of shadows using the colors
  $shadows: ();

  @for $i from 1 through $layers {
    // Calculate the color for this layer manually
    $color: color.mix(
      $startColor,
      $endColor,
      percentage(math.div($i, $layers))
    );

    // Return the shadow string
    $shadows: append(
      $shadows,
      #{$i}px #{($i * $slope) + $offsetFactor}px #{$blur}px $color,
      comma
    );
    $shadows: append(
      $shadows,
      #{-$i}px #{($i * $slope) + $offsetFactor}px #{$blur}px $color,
      comma
    );
  }

  @return $shadows;
}

// I DID IT!!!!
