:root {
  --primary-color: red;
  --accent-color: hsl(276 75% 75%);
  --background-color: hsl(0, 100%, 5%);
}

@font-face {
  font-family: 'Feijoada';
  src: url('https://dl.dropboxusercontent.com/scl/fi/d4v2vt0k7562mhepj801x/Feijoada-Regular.ttf?rlkey=vtbsdxe4azusioddrws35fcx5&dl=1')
    format('truetype');
}

@font-face {
  font-family: 'Beyonders';
  src: url('https://dl.dropboxusercontent.com/scl/fi/j10eailb22tuhayzf8k1y/Beyonders.ttf?rlkey=1jqbxp5ddm5enazoms02vp645&dl=1');
}

* {
  cursor: url('https://c.l3n.co/i/mxtyRK.png'), auto;
  animation: cursor 500ms linear infinite;
  font-family: 'Feijoada', sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
}

* a:hover {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 100%, 5%);
}

::-webkit-scrollbar-thumb {
  background: red;
  background-image: url(https://printler.com/media/photo/149787.jpg);
  background-size: cover;
  background-blend-mode: hard-light;
  background-position: center;
}

::-webkit-scrollbar-thumb:hover {
  background-blend-mode: difference;
}

h1,
h2,
h3,
h4,
p,
label {
  color: var(--primary-color);
}

html {
  overflow-x: clip;
}

body:before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/ec/4b/80/ec4b8036978369f715f59ee07cf37c0b.jpg');
  background-position: top;
  background-repeat-x: no-repeat;
  background-size: contain;
  z-index: -12;
  opacity: 0.5;
}

body:after {
  content: '';
  inset: 0;
  background: #720000;
  width: 100px;
  height: 100px;
  position: fixed;
  text-align: center;
  border-radius: 100%;
  filter: blur(50px);
  margin: 10rem;
  padding: 10rem;
  z-index: -10;
  animation: shadow-bg 5s ease-in-out alternate both infinite;
}

@keyframes shadow-bg {
  0% {
    transform: translate(0, -100px);
  }
  25% {
    transform: translate(0vh, 0vw);
  }
  50% {
    transform: translate(2px, 100vh);
  }
  100% {
    transform: translate(50vw, -50vh);
  }
}

body {
  background: var(--background-color);
  overflow-x: clip;
  position: relative;
  display: flex;
  flex-direction: column;
}

html:after {
  background-image: url('https://media0.giphy.com/media/loUqhBx0AKYRT5IrlH/giphy.gif');
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
  inset: 0;
  z-index: -3;
}

@keyframes cursor {
  0% {
    cursor: url('https://c.l3n.co/i/mxtyRK.png'), auto;
  }

  25% {
    cursor: url('https://b.l3n.co/i/mxt57Z.png'), auto;
  }

  50% {
    cursor: url('https://c.l3n.co/i/mxtGFP.png'), auto;
  }

  100% {
    cursor: url('https://b.l3n.co/i/mxthIm.png'), auto;
  }
}

@keyframes parallax {
  0% {
    perspective: 1000px;
    transform: translateY(0) perspective(1000px);
  }

  25% {
    transform: translateY(-100vh) perspective(1000px);
  }
}

html:before {
  content: '';
  height: 100vh;
  width: 100vw;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-image: url('https://media.tenor.com/iSa7urk_-TkAAAAC/shadow-the-hedgehog-shadow.gif');
  background-size: cover;
  background-position: center;
  background-color: var(--background-color);
  animation: loading-anim 2.8s ease 0s 1 normal forwards;
  pointer-events: none;
}

@keyframes loading-anim {
  0.0% {
    opacity: 1;
    filter: sepia(100%) saturate(100%) contrast(100%);
  }
  75% {
    opacity: 1;
    filter: sepia(0%) saturate(200%) contrast(120%);
  }
  100% {
    opacity: 0;
    filter: sepia(0%) saturate(200%) contrast(120%);
  }
}

nav {
  position: relative;
}

nav:before {
  content: '';
  background-image: url('https://www.icegif.com/wp-content/uploads/2022/04/icegif-581.gif');
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  z-index: -1;
}

nav .links a:nth-child(1) .icon {
  content: url('https://b.l3n.co/i/sj5s2o.png');
  animation: shadow-spin 1s ease-in-out infinite;
}

@keyframes shadow-spin {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

a {
  color: red;
  transition: all 200ms ease;
}

nav .links a {
  color: red;
  text-decoration: none !important;
  text-shadow: 0 0 2px red;
}

a:hover {
  color: hsl(270, 80%, 80%);
}

.details-table tbody tr:nth-child(4),
.details-table tbody tr:nth-child(5) {
  display: none;
}

.details-table tbody td {
  background: transparent !important;
}

table,
th,
td {
  border: 1px solid var(--primary-color);
}

table {
  border: none;
}

nav .top {
  background: linear-gradient(
    90deg,
    transparent 0%,
    hsl(0, 100%, 20%) 50%,
    transparent 100%
  );
}

nav .top div {
  display: flex;
  place-items: center;
}

nav .links {
  background: linear-gradient(
    90deg,
    transparent 0%,
    hsl(0, 100%, 20%) 50%,
    transparent 100%
  );
  text-align: center;
}

nav .links li:not(:last-child):after {
  color: var(--accent-color);
}

nav .links li.active a {
  color: var(--accent-color) !important;
  font-weight: unset !important;
}

nav .links li a:hover {
  color: hsl(270, 80%, 80%) !important;
}

nav .right {
  color: red;
}

nav .top .left img {
  object-fit: contain;
  margin: 0;
  filter: drop-shadow(0px 0px 2px red);
}

.logo {
  content: url('https://b.l3n.co/i/myDWge.png');
}

iframe {
  z-index: 1;
  position: relative;
}

.search-wrapper input {
  background: transparent;
  border-radius: 10px;
  padding: 0.4rem 0.4rem;
  outline: 1px solid red;
  border: 1px solid red;
  color: var(--accent-color);
}

button.logout-btn {
  font-size: 0%;
}

button.logout-btn:before {
  content: 'Explode';
  font-size: 1rem;
}

button,
.logout-btn,
.blog-entry .kudos-btn {
  color: red !important;
  border: none;
  background: rgba(0, 0, 0, 0.3) !important;
  padding: 0.4rem !important;
  border-radius: 5px;
  text-decoration: none !important;
  transition: all 200ms ease;
}

button:hover,
.logout-btn:hover,
.blog-entry .kudos-btn:hover {
  color: hsl(270, 80%, 80%) !important;
}

.profile-info:before {
  content: '';
  background-image: url('https://img.wattpad.com/16adc1dab5d33b05b1458cb7861f6a9e0a996e06/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f39463649635656615f4c62736f773d3d2d3932333032343136302e313632333162363761353136663530613735313232323632313136312e676966');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.profile-info {
  border-color: var(--accent-color);
  border-radius: 10px;
  font-family: 'Beyonders', sans-serif;
  overflow: hidden;
  position: relative;
}

.profile-info:after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('https://media.tenor.com/2100NQHbjV8AAAAi/shadow.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  height: 100%;
  width: 100%;
  animation: shadow-running 5s ease-in-out infinite;
  pointer-events: none;
}

@keyframes shadow-running {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes friend-text-anim {
  0% {
    color: var(--accent-color);
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

.profile-info .inner h3,
.profile-info .inner h3 a {
  color: var(--accent-color);
  font-size: clamp(15px, 3vw, 2rem);
  text-transform: uppercase;
  animation: friend-text-anim 1s ease-in-out infinite alternate both;
  text-shadow: 0px -2px 12px red, 0px 0px 1px #bf3f3f, 0px 0px 1px #bf3f3f,
    1px 4px 1px #c04751, -1px 4px 1px #c04751, 2px 8px 1px #c14f62,
    -2px 8px 1px #c14f62, 3px 12px 1px #c25774, -3px 12px 1px #c25774,
    4px 16px 1px #c35f85, -4px 16px 1px #c35f85, 5px 20px 1px #c46797,
    -5px 20px 1px #c46797, 6px 24px 1px #c46fa8, -6px 24px 1px #c46fa8,
    7px 28px 1px #c577ba, -7px 28px 1px #c577ba, 8px 32px 1px #c67fcc,
    -8px 32px 1px #c67fcc, 9px 36px 1px #c787dd, -9px 36px 1px #c787dd,
    0px 36px 1px #c787dd;
  top: -1rem;
  position: relative;
}

.profile-pic {
  height: auto !important;
  margin: unset !important;
  animation: parallax linear;
  animation-timeline: scroll();
  width: fit-content;
}

@keyframes profile-anim {
  0% {
    perspective: 1000px;
    transform: perspective(1000px) translateX(100%) translateZ(-200px)
      rotateY(45deg);
  }

  50% {
    perspective: 1000px;
    transform: perspective(1000px) translateZ(100px);
  }
  100% {
    perspective: 1000px;
    transform: perspective(1000px) translateX(-100%) translateZ(-200px)
      rotateY(-45deg);
  }
}

.general-about .profile-pic {
  perspective: 1000px;
  display: flex !important;
  justify-content: center;
  animation: profile-anim calc(200ms * 4) ease-in-out infinite alternate both;
  animation-fill-mode: forwards;
  position: relative;
  z-index: -1;
}

.general-about .profile-pic img {
  max-height: 14rem;
  max-width: 14rem;
  perspective: 1000px;
  border-radius: 0.5rem;
  border: 3px solid var(--accent-color);
  object-fit: cover;
}

.blurbs .inner .section {
  position: relative;
  color: var(--accent-color);
  margin: unset;
}

.profile .friends .person p,
.comments-table td:first-child p,
.profile .blurbs .heading,
.profile .friends .heading h4,
span[itemprop='name'] h1,
.profile .contact .heading h4,
.profile .table-section .heading h4,
.setting-section .heading,
.home-actions .heading,
.profile .url-info p:first-child,
.profile-info {
  text-shadow: 2px 2px red;
}

.blurbs .heading,
.friends .heading {
  background: hsl(0, 100%, 20%) !important;
  border-radius: 10px;
  padding: 10px !important;
  box-shadow: 5px 5px 0 0 var(--accent-color);
  border: 2px solid var(--accent-color);
}

.general-about .details p:nth-child(1),
.general-about .details p:nth-child(2),
.profile .friends .person a p,
.profile .friends .heading,
.profile .blurbs .section,
.profile .blurbs .heading,
.profile .blurbs .section h4,
.profile .blog-preview p,
h4,
.blurbs .inner .section p,
.profile span h1 {
  color: var(--accent-color);
}

p,
ol li,
ul:not(nav .links):not(footer .links) li {
  font-size: unset;
}

nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after {
  content: ' 🦔 ';
  color: var(--accent-color);
}

nav .links,
footer .links {
  text-wrap: balance;
}

@keyframes text-wobble {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.profile .blurbs .heading h4,
.profile .friends .heading h4 {
  font-size: 0%;
}

.profile .blurbs .heading:before {
  content: 'My shit';
  font-size: 1.5rem;
}

.profile .friends .heading h4:before {
  content: 'Furballs';
  font-size: 1.5rem;
}

#comments .heading h4:before {
  content: 'Complaints';
  font-size: 1.5rem;
}

.profile .friends .person:hover {
  animation: text-wobble 200ms ease-in-out infinite;
}

.profile .friends .person p {
  color: var(--accent-color);
}

.profile .friends .person img:not(.icon) {
  object-fit: cover;
  width: 96px;
  height: 96px;
  transition: all 300ms ease;
  filter: invert(420%) sepia(69420%) saturate(1000%) hue-rotate(320deg)
    brightness(100%) contrast(100%);
  -webkit-mask-image: url('https://b.l3n.co/i/sk2gL9.gif');
  mask-image: url('https://b.l3n.co/i/sk2gL9.gif');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-type: alpha;
  mask-type: alpha;
}

.profile .friends .person:first-child p {
  color: yellow;
}

.profile .friends .person:first-child img:not(.icon) {
  filter: invert(420%) sepia(69420%) saturate(1000%) hue-rotate(235deg)
    brightness(100%) contrast(100%);
}

.profile .friends .person img:not(.icon):hover {
  filter: unset;
  transform: scale(1.2);
}

.profile h1 {
  margin: 0;
}

.friends-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  align-items: center;
  place-items: center;
}

.moon-shaker:before {
  content: '';
  position: absolute;
  background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center center;
  background-size: contain;
  z-index: -3;
  height: 100%;
  width: 100%;
  animation: moon-anim-color linear;
  animation-timeline: scroll();
  -webkit-mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
  mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-blend-mode: darken;
  opacity: 0.7;
}

.moon-container {
  position: fixed;
  right: 10px;
  object-fit: contain;
  top: 50%;
  transform: translateY(-50%);
  animation: moon-anim linear;
  animation-timeline: scroll();
  max-height: 400px;
  height: 100%;
  max-width: 20rem;
  width: 100%;
  z-index: -4;
}

.moon-shaker {
  position: fixed;
  object-fit: contain;
  background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center center;
  background-size: contain;
  max-height: 400px;
  height: 100%;
  max-width: 20rem;
  width: 100%;
  animation: moon-shake 5s ease-in-out infinite alternate both;
}

@keyframes moon-shake {
  0% {
    transform: translateX(-1px) translateY(1px);
  }
  20% {
    transform: translateX(-3px) translateY(3px);
  }
  40% {
    transform: translateX(4px) translateY(-4px);
  }
  60% {
    transform: translateX(0px) translateY(-1px);
  }
  80% {
    transform: translateX(3px) translateY(0px);
  }
  100% {
    transform: translateX(4px) translateY(-4px);
  }
}

@keyframes moon-anim-color {
  0% {
    background-color: red;
  }

  55% {
    background-color: red;
  }

  75% {
    background-color: blue;
  }

  100% {
    background-color: hsl(223, 58%, 47%);
  }
}

@keyframes moon-anim {
  0% {
    transform: translateY(calc(-50% - 20svh));
    filter: drop-shadow(0px 0px 8px red);
  }

  55% {
    filter: drop-shadow(0px 0px 8px red);
  }

  75% {
    filter: drop-shadow(0px 0px 8px blue);
  }

  100% {
    transform: translateY(calc(-50% + 20svh));
    filter: drop-shadow(57px 0px 20px hsl(223, 58%, 47%));
  }
}

.side-shadow {
  position: fixed;
  left: 10px;
  object-fit: contain;
  bottom: 10px;
  max-height: 400px;
  z-index: -2;
}

.sonic {
  position: fixed;
  object-fit: contain;
  bottom: 10px;
  max-height: 400px;
  z-index: -1;
  filter: drop-shadow(0px 0px 8px blue);
  transform: translateX(-50%);
  animation: sonic-anim linear;
  animation-timeline: scroll();
}

@keyframes sonic-anim {
  0% {
    transform: translateX(-100svw);
  }

  100% {
    transform: translateX(100svw);
  }
}

.report a img {
  content: url('https://a.l3n.co/i/my9ZQZ.png');
}

b {
  color: var(--accent-color);
}

.comment-replies {
  border: 1px solid red !important;
  border-radius: 1rem;
}

main .profile {
  display: flex !important;
  flex-direction: column;
}

main .profile meta + div:nth-child(3) {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  grid-template-rows: minmax(20px, 1fr);
  grid-column-gap: 1rem;
  width: 100%;
  position: relative;
}

main .profile div:nth-child(3) span[itemprop='name'] {
  grid-column: span 2;
}

main .profile span[itemprop='name'] {
  display: flex;
  width: fit-content;
  justify-self: center;
}

main .profile span[itemprop='name'] h1 {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Beyonders', sans-serif;
  transition: all 200ms ease;
}

main .profile span[itemprop='name'] h1:hover {
  text-shadow: 0px 0px 1px #bf3f3f, -0px 0px 1px #bf3f3f, 1px 4px 1px #c04751,
    -1px 4px 1px #c04751, 2px 8px 1px #c14f62, -2px 8px 1px #c14f62,
    3px 12px 1px #c25774, -3px 12px 1px #c25774, 4px 16px 1px #c35f85,
    -4px 16px 1px #c35f85, 5px 20px 1px #c46797, -5px 20px 1px #c46797,
    6px 24px 1px #c46fa8, -6px 24px 1px #c46fa8, 7px 28px 1px #c577ba,
    -7px 28px 1px #c577ba, 8px 32px 1px #c67fcc, -8px 32px 1px #c67fcc,
    9px 36px 1px #c787dd, -9px 36px 1px #c787dd, 0px 36px 1px #c787dd;
}

nav .top .center form {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;
}

nav .top .right {
  color: var(--accent-color);
  column-gap: 0.2rem;
}

nav .top .right a:hover {
  color: hsl(270, 80%, 80%) !important;
}

nav .top .right a {
  color: red;
  font-size: 0%;
}

nav .top .right a:before {
  content: 'Therapy';
  font-size: 1rem;
}

@media only screen and (max-width: 675px) {
  .general-about {
    flex-direction: column;
  }

  .general-about .details {
    top: unset !important;
    left: unset !important;
    position: relative !important;
    justify-content: center;
    place-items: center;
    width: 100%;
  }

  main .profile meta + div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main .profile div:nth-child(3) span[itemprop='name'] {
    position: unset;
    top: unset;
    left: unset;
    right: unset;
  }

  main .profile div:nth-child(3) span + p {
    position: relative !important;
    top: unset !important;
    right: unset !important;
    place-self: center;
    display: flex;
  }
}

.general-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: span 2;
  align-items: center;
  width: 100%;
}

.general-about .details {
  display: grid;
  grid-template-columns: repeat(3, minmax(1rem, 1fr));
  position: relative;
  justify-content: center;
  place-items: center;
  width: 100%;
}

.general-about .details p:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.general-about .details p:nth-child(2) {
  grid-column: 1;
}

.general-about .details .online {
  color: var(--accent-color);
  grid-column: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  position: relative;
  z-index: -2;
}

.general-about .details .online img {
  content: url('https://media.tenor.com/fwRdoejcLPAAAAAi/shadow-the-hedgehog-shadow.gif');
  width: 10em;
  height: 10em;
  object-fit: contain;
  position: absolute;
  pointer-events: none;
}

.profile .contact .inner div div a img {
  transition: all 300ms ease;
}

.profile .contact .inner div:nth-child(1) div:nth-child(1) a img {
  content: url('https://b.l3n.co/i/my91Ti.png');
}

.profile .contact .inner div:nth-child(1) div:nth-child(1) a:hover img {
  content: url('https://media.tenor.com/JuFnnZnCCloAAAAd/shadow-the-hedgehog-vr-chat.gif');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .contact .inner div:nth-child(1) div:nth-child(2) a img {
  content: url('https://b.l3n.co/i/my9geP.png');
}

.profile .contact .inner div:nth-child(1) div:nth-child(2) a:hover img {
  content: url('https://media.tenor.com/YqGbiw9VaiAAAAAC/sonic-the-hedgehog-shadow-the-hedgehog.gif');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .contact .inner div:nth-child(2) div:nth-child(1) a img {
  content: url('https://c.l3n.co/i/my98Fx.png');
}

.profile .contact .inner div:nth-child(2) div:nth-child(1) a:hover img {
  content: url('https://media.tenor.com/6SOIHmw9t9AAAAAC/sonic-prime-shadow-the-hedgehog.gif');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .contact .inner div:nth-child(2) div:nth-child(2) a img {
  content: url('https://c.l3n.co/i/my9im1.png');
}

.profile .contact .inner div:nth-child(2) div:nth-child(2) a:hover img {
  content: url('https://pa1.aminoapps.com/6535/c77e4957b5b29263155c5e786f6b26cfe06edcab_hq.gif');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .contact .inner div:nth-child(3) div:nth-child(1) a img {
  content: url('https://b.l3n.co/i/my9joc.png');
}

.profile .contact .inner div:nth-child(3) div:nth-child(2) a img {
  content: url('https://a.l3n.co/i/my9rym.png');
}

.profile .contact .inner div:nth-child(3) div:nth-child(2) a:hover img {
  content: url('https://pbs.twimg.com/media/D5LF5fHW4AEzPTM.jpg');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .contact .inner div:nth-child(4) div:nth-child(1) a img {
  content: url('https://c.l3n.co/i/my9I8K.png');
}

.profile .contact .inner div:nth-child(4) div:nth-child(2) a img {
  content: url('https://a.l3n.co/i/my9ZQZ.png');
}

.profile .contact .inner div:nth-child(4) div:nth-child(2) a:hover img {
  content: url('https://media.tenor.com/jx7PJaSohs4AAAAC/sonic-shadow.gif');
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.profile .mood {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
}

main .profile div:nth-child(3) span + p {
  grid-column: span 2;
  justify-self: center;
  margin: 0;
}

.profile .contact {
  display: flex !important;
  flex-direction: column;
}

#comments table tbody td {
  background: transparent;
}

.comments-table td {
  border: none !important;
}

.comments-table {
  min-height: 30rem;
}

.comments-table .ago {
  color: var(--accent-color);
}

@keyframes first-comment-profile-photo-anim {
  0% {
    transform: scale(0.8) skewY(0deg) rotateZ(10deg) rotateY(-10deg)
      perspective(1000px);
  }

  100% {
    transform: scale(0.9) skewY(0deg) rotateZ(-10deg) rotateY(-10deg)
      perspective(1000px);
  }
}

@keyframes comment-profile-photo-anim {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

.comment-reply p small a b {
  font-family: 'Beyonders', sans-serif;
  text-shadow: 2px 2px red;
  font-size: 0.5em;
}

.comment-reply:not(:first-child) {
  border-top: 1px solid var(--accent-color);
}

.comment-reply p:not(:last-child):first-letter {
  text-transform: capitalize;
}

@keyframes first-name-anim {
  0% {
    transform: rotateZ(-10deg) scaleX(1);
  }

  100% {
    transform: rotateZ(10deg) scaleX(1.5);
  }
}

@keyframes name-anim {
  0% {
    transform: rotateZ(-15deg);
  }
  100% {
    transform: rotateZ(15deg);
  }
}

.comments-table td:nth-child(2) > p:nth-child(2):first-letter {
  text-transform: capitalize;
}

.comments-table tr:first-child td:nth-child(2) > p:nth-child(2) {
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em orange, 0 0 0.2em yellow;
}

.comments-table tr:first-child td:nth-child(2) > p:first-child b .ago {
  color: black;
  text-shadow: 0 0 5px red, 0 0 10px yellow, -20px 0 20px yellow,
    10px 0 20px white;
}

.comments-table tr:first-child td:first-child img:not(.icon) {
  animation: first-comment-profile-photo-anim 0.4s ease-in-out infinite
    alternate both;
  box-shadow: 5px 5px 0 0 var(--accent-color);
  perspective: 1000px;
  box-shadow: yellow 0 0 20px 5px;
  transition: all 200ms ease;
}

.comments-table tr:first-child td:first-child img:not(.icon):hover {
  filter: invert(420%) sepia(69420%) saturate(1000%) hue-rotate(320deg)
    brightness(100%) contrast(100%);
  box-shadow: 0 0 30px 10px rgb(0 255 0);
}

.comments-table tr:first-child td:first-child p {
  color: yellow;
  animation: first-name-anim 400ms ease-in-out infinite alternate both;
}

.comments-table td:first-child {
  position: relative;
}

.comments-table td:first-child p {
  animation: name-anim 200ms ease-in-out infinite alternate both;
  font-family: 'Beyonders', sans-serif;
  font-size: clamp(15px, 2vw, 1rem);
  z-index: 1;
  position: relative;
}

.comments-table td:first-child img:not(.icon) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  animation: comment-profile-photo-anim 200ms ease-in-out infinite alternate
    both;
  border: 2px solid var(--accent-color);
  box-shadow: 5px 5px 0 0 red;
  transition: all 200ms ease;
}

.comments-table td:first-child img:not(.icon):hover {
  box-shadow: 0px 0px 1px #bf3f3f, 0px 0px 1px #bf3f3f, 1px 4px 1px #c04751,
    -1px 4px 1px #c04751, 2px 8px 1px #c14f62, -2px 8px 1px #c14f62,
    3px 12px 1px #c25774, -3px 12px 1px #c25774, 4px 16px 1px #c35f85,
    -4px 16px 1px #c35f85, 5px 20px 1px #c46797, -5px 20px 1px #c46797,
    6px 24px 1px #c46fa8, -6px 24px 1px #c46fa8, 7px 28px 1px #c577ba,
    -7px 28px 1px #c577ba, 8px 32px 1px #c67fcc, -8px 32px 1px #c67fcc,
    9px 36px 1px #c787dd, -9px 36px 1px #c787dd, 0px 36px 1px #c787dd;
}

.comments-table td:first-child p {
  color: var(--accent-color);
}

.about-banner-1 {
  width: 100%;
}

.shadow-art {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    hsl(18deg, 100%, 38.03%) 10%,
    #5f0063 40%,
    rgb(98, 0, 0) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  user-select: none;
  overflow: hidden;
  font-size: clamp(0.5em, 2vw, 1em) !important;
  text-align: center;
}

main .article .edit-info {
  background: transparent !important;
  border: 1px solid red !important;
  border-radius: 1rem;
}

main .article {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

main .article .w-20 {
  width: 100% !important;
}

main .article .title {
  color: var(--accent-color);
}

main .profile .general-about .details .edit-link {
  position: absolute;
  top: 20px;
  grid-row: 1;
}

.contact {
  border-color: hsl(0, 100%, 20%) !important;
}

.heading {
  border-radius: 5px 5px 0 0;
}

.contact,
.url-info,
.table-section {
  border-radius: 10px !important;
}

.contact .heading {
  background-color: hsl(0, 100%, 20%) !important;
  border-radius: 5px 5px 0 0;
}

.profile .url-info {
  border-color: hsl(0, 100%, 20%) !important;
  border-radius: 5px;
  padding: 0;
}

.profile .url-info p:first-child {
  background-color: hsl(0, 100%, 20%) !important;
  padding: 2px 7px;
  border-radius: 5px 5px 0 0;
}

.profile .url-info p:nth-child(2) {
  padding: 6px;
}

.table-section {
  border-color: hsl(0, 100%, 20%) !important;
  border-radius: 5px;
}

.table-section .heading {
  background-color: hsl(0, 100%, 20%) !important;
}

main:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 1rem;
  padding: 2px;
  pointer-events: none;
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/New_Gay_Pride_Flag.svg/1600px-New_Gay_Pride_Flag.svg.png');
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
main {
  background: transparent;
  position: relative;
}

footer {
  background: transparent;
}

footer p {
  font-size: 1rem;
}
