@use 'sass:math';

@mixin hoverShadow($image) {
  content: url($image);
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

@mixin addImage(
  $image,
  $hoverImage: null,
  $rowIndex: null,
  $columnIndex: null
) {
  // Check if hover image is provided
  $hasHoverImage: $hoverImage != null;

  // Generate styles for the regular image
  div:nth-child(#{$rowIndex}) div:nth-child(#{$columnIndex}) a img {
    content: url($image);
  }

  @if $hasHoverImage {
    // Generate styles for the hover image
    div:nth-child(#{$rowIndex}) div:nth-child(#{$columnIndex}) a:hover {
      flex-direction: column-reverse !important;
      align-items: center;

      img {
        content: url($hoverImage);

        @include hoverShadow($hoverImage);
      }
    }
  }
}

@mixin rename($selector, $text) {
  #{$selector} {
    font-size: 0%;

    &:before {
      content: '#{$text}';
      font-size: 1rem;
    }
  }
}

@mixin cursor($images...) {
  // Only use the first image in the list
  cursor: url('#{nth($images, 1)}'), auto;

  // loop through the images
  // Only create keyframes if there are more than 1 image

  @if length($images) > 1 {
    animation: cursor-anim 500ms linear infinite;
    @keyframes cursor-anim {
      @for $i from 0 through length($images) - 1 {
        $currentImage: nth($images, $i + 1);
        $percentage: percentage(
          math.div($i, length($images) - 1)
        ); // Calculate percentage for each keyframe
        #{$percentage} {
          cursor: url('#{$currentImage}'), auto;
        }
      }
    }
  }
}
