@mixin tails {
  .tails {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("https://media.tenor.com/s3LHTiBAoagAAAAi/sonic-mania-tails-the-fox.gif");
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
    position: fixed;
    animation: moveX 5s linear 0s infinite alternate,
      moveY 6.8s linear 0s infinite alternate;
    @keyframes moveX {
      from {
        left: 0;
        transform: rotateY(180deg);
      }
      to {
        left: calc(100% - 50px);
      }
    }
    @keyframes moveY {
      from {
        top: 0;
      }
      to {
        top: calc(100% - 50px);
      }
    }
  }
}

@mixin side-shadow {
  .side-shadow {
    position: fixed;
    left: 10px;
    object-fit: contain;
    bottom: 10px;
    max-height: 400px;
    z-index: -2;
    animation: bounce 200ms ease-in-out infinite alternate both;
    @keyframes bounce {
      to {
        scale: 0.98;
      }
    }
  }
}

@mixin sonic {
  .sonic {
    position: fixed;
    object-fit: contain;
    bottom: 10px;
    left: 50%;
    max-height: 400px;
    z-index: -1;
    transform: translateX(-50%);
    animation: sonic-anim linear;
    animation-timeline: scroll();
    @supports (not (animation-timeline: scroll())) {
      pointer-events: none;
      display: none;
    }
    @keyframes sonic-anim {
      0% {
        transform: translateX(calc(-50% - 100svw));
      }

      100% {
        transform: translateX(calc(-50% + 100svw));
      }
    }
  }
}

@mixin shadow-art {
  .shadow-art {
    position: absolute;
    top: 82rem;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle,
      var(--extra-color) 10%,
      var(--secondary-color) 40%,
      var(--extra-color) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    user-select: none;
    overflow: hidden;
    font-size: clamp(0.5em, 2vw, 1em) !important;
    text-align: center;
  }
}

@mixin knuckles {
  .knuckles {
    // Make it in center bottom and appear on 75% scroll
    position: fixed;
    object-fit: contain;
    bottom: 10px;
    left: 50%;
    max-height: 400px;
    z-index: -1;
    transform: translateX(-50%);
    animation: knuckles-anim linear;
    animation-timeline: scroll();
    @supports (not (animation-timeline: scroll())) {
      pointer-events: none;
      display: none;
    }
    @keyframes knuckles-anim {
      0% {
        transform: translateX(-50%) translateY(100svh);
      }

      30% {
        transform: translateX(-50%) translateY(100svh);
      }

      100% {
        transform: translateX(-50%) translateY(25svh);
      }
    }
  }
}

@mixin sonic-wtf {
  &::after {
    position: absolute;
    content: "";
    width: 20rem;
    height: 20rem;
    background: url("https://media.tenor.com/nVV5NCZRX0AAAAAi/sonic-dance-fast-goofy-meme.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    inset: 0;
    animation: moveXX 300ms linear 0s infinite alternate,
      moveYY 10s linear 0s infinite alternate, rotate 300ms linear 0s infinite;
    @keyframes moveXX {
      from {
        left: 0;
      }
      to {
        left: calc(100% - 20rem);
      }
    }
    @keyframes moveYY {
      from {
        top: 0;
      }
      to {
        top: calc(100% - 20rem);
      }
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
