@use "../../utils/settings.scss" as *;
@use "../../utils/colors.scss" as *;
@use "./characters.scss" as *;
@use "./music-container.scss" as *;
@use "./moon.scss" as *;
@use "./dni-flash.scss" as *;
@use "./video-player.scss" as *;

/* Here is where you can choose which things to include in your profile.
   Like if you have custom stuff you want to add, you can add it here. */

@mixin profile-things {
  .about-content {
    * {
      color: var(--accent-color);
    }
  }

  @if $include-tails {
    @include tails;
  }

  @if $include-sonic {
    @include sonic;
  }

  @if $include-shadow {
    @include side-shadow;
  }

  @if $include-shadow-art {
    @include shadow-art;
  }

  @if $include-moon {
    @include moon;
  }

  @if $include-music-container {
    @include music-container;
  }

  @if $include-dni-flash {
    @include dni-flash;
  }

  @if $include-knuckles {
    @include knuckles;
  }

  @if $include-video-player {
    @include video-player;
  }

  .stamps {
    .kurse {
      background-image: linear-gradient(
        to right,
        red 50%,
        rgba(255, 255, 255, 0) 0%
      );
      padding: 10px;
      background-position: left;
      background-size: 8% 1px;
      background-repeat: repeat;
      background-color: white;
      filter: hue-rotate(215deg);
    }
  }

  .lmfao {
    position: fixed;
    top: 1rem;
    left: 1rem;
    max-width: 15% !important;
    height: auto;
    pointer-events: none;
  }
}
