@mixin video-player {
  .video-container {
    position: fixed;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    bottom: 1rem;
    right: 1rem;
    overflow: clip;
    transition: all 200ms ease;
    animation: spin-record 5s linear infinite;
    @keyframes spin-record {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      display: flex;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-image: url("https://png2.cleanpng.com/dy/2ca9039f0139279382b86cb0d6c0578f/L0KzQYm3U8A5N5RBiZH0aYP2gLBuTgBpd590fARqcHiwgrbqjCJlNZ11ReRuY3B1dH7qhL1lcaRoh9l7YYDriX68gfExbpYAe6ZuY3K3SXA4U8Y5OWQ7T6MAMkC4QIG6WMA0OmM9RuJ3Zx==/kisspng-phonograph-record-lp-record-cd-discography-5aa0fe9c4ecb49.1368136715205003803228.png");
      background-repeat: no-repeat;
      pointer-events: none;
      transition: opacity 200ms ease;
      opacity: 0.5;
    }

    &:hover {
      overflow: visible !important;
      border-radius: unset !important;
      animation: none !important;
      &:before {
        opacity: 0;
      }

      iframe {
        scale: 1 !important;
        filter: unset !important;
      }
    }

    iframe {
      position: absolute;
      height: 100%;
      scale: 2;
      transition: all 200ms ease;
      filter: sepia(100%) saturate(1000%) invert(10%) hue-rotate(245deg);
    }
  }
}
