@mixin moon {
  .moon-container {
    position: fixed;
    right: 10px;
    object-fit: contain;
    top: 50%;
    transform: translateY(-50%);
    max-height: 400px;
    height: 100%;
    max-width: 20rem;
    width: 100%;
    z-index: -4;
    animation-timeline: scroll();
    animation: moon-anim linear;
    @keyframes moon-anim {
      0% {
        transform: translateY(calc(-50% - 20svh));
        filter: drop-shadow(0px 0px 8px var(--secondary-color));
      }

      55% {
        filter: drop-shadow(0px 0px 8px var(--secondary-color));
      }

      75% {
        filter: drop-shadow(0px 0px 8px blue);
      }

      100% {
        transform: translateY(calc(-50% + 20svh));
        filter: drop-shadow(57px 0px 20px hsl(223, 58%, 47%));
      }
    }

    .moon-shaker {
      position: fixed;
      object-fit: contain;
      background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center center;
      background-size: contain;
      max-height: 400px;
      height: 100%;
      max-width: 20rem;
      width: 100%;
      animation: moon-shake 5s ease-in-out infinite alternate both;
      @keyframes moon-shake {
        0% {
          transform: translateX(-1px) translateY(1px);
        }
        20% {
          transform: translateX(-3px) translateY(3px);
        }
        40% {
          transform: translateX(4px) translateY(-4px);
        }
        60% {
          transform: translateX(0px) translateY(-1px);
        }
        80% {
          transform: translateX(3px) translateY(0px);
        }
        100% {
          transform: translateX(4px) translateY(-4px);
        }
      }

      &:before {
        content: '';
        position: absolute;
        background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center
          center;
        background-size: contain;
        z-index: -3;
        height: 100%;
        width: 100%;
        animation: moon-anim-color linear;
        @keyframes moon-anim-color {
          0% {
            background-color: var(--secondary-color);
          }

          55% {
            background-color: var(--secondary-color);
          }

          75% {
            background-color: blue;
          }

          100% {
            background-color: hsl(223, 58%, 47%);
          }
        }
        animation-timeline: scroll();
        -webkit-mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
        mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        background-blend-mode: darken;
        opacity: 0.7;
      }
    }
  }
}
