@use "./functions/funcs.scss" as *;

$primary-color: white;
$secondary-color: red;
$accent-color: white;
$extra-color: #967bb6;
$background-color: hsl(222, 100%, 5%);
$text-shadow: 0 0 5px var(--secondary-color);
$text-shadow-invert: 0 0 5px var(--extra-color);
$title-shadow: generateShadow(
  $extra-color,
  $accent-color,
  20,
  0.5,
  2,
  0.5,
  -45deg
);
$hover-color: $extra-color;
$theme-background: linear-gradient(
  to bottom,
  var(--secondary-color) -50%,
  var(--extra-color) 100%
);
