@use './functions/funcs.scss' as *;

$primary-color: white;
$secondary-color: red;
$accent-color: white;
$extra-color: #ffbc00;
$background-color: hsl(0, 100%, 5%);
$text-shadow: 0 0 5px red;
$title-shadow: generateShadow($extra-color, $accent-color, 20, 0.5, 2, 0.5);
$hover-color: red;
$theme-background: linear-gradient(
  to bottom,
  red -50%,
  var(--extra-color) 100%
);
