@font-face {
  font-family: 'Feijoada';
  src: url('https://dl.dropboxusercontent.com/scl/fi/d4v2vt0k7562mhepj801x/Feijoada-Regular.ttf?rlkey=vtbsdxe4azusioddrws35fcx5&dl=1')
    format('truetype');
}

@font-face {
  font-family: 'Beyonders';
  src: url('https://dl.dropboxusercontent.com/scl/fi/j10eailb22tuhayzf8k1y/Beyonders.ttf?rlkey=1jqbxp5ddm5enazoms02vp645&dl=1')
    format('truetype');
}
