@use "./colors.scss" as *;
@use "./vars.scss" as *;

:root {
  /* Images */
  --background-image: #{$background-image};
  --border-image: #{$border-image};
  --overlay-image: #{$overlay-image};
  --loading-image: #{$loading-image};
  --logo-image: #{$logo-image};
  --nav-image: #{$nav-image};
  --scrollbar-image: #{$scrollbar-image};
  --profile-friend-image: #{$profile-friend-image};
  --profile-friend-image-overlay: #{$profile-friend-image-overlay};
  --profile-frame-image: #{$profile-frame-image};
  --friend-first-image-mask: #{$friend-first-image-mask};
  --friend-image-mask: #{$friend-image-mask};
  --notification-image: #{$notification-image};
  --online-image: #{$online-image};

  /* Colors */
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --accent-color: #{$accent-color};
  --extra-color: #{$extra-color};
  --background-color: #{$background-color};
  --text-shadow: #{$text-shadow};
  --title-shadow: #{$title-shadow};
  --hover-color: #{$hover-color};
  --theme-background: #{$theme-background};

  /* Content */
  --separator: " #{$separator} ";
}
