$include-loading: true;
$include-overlay: true;
$include-moving-ball: true;
$include-nav-image: true;
$include-cursor: true;
$include-background: true;
$include-you-are-friends: true;
$show-you-are-friends-overlay: true;
$include-profile-frame: true;
$include-tails: true;
$include-sonic: true;
$include-shadow: true;
$include-shadow-art: true;
$include-lights: true;
$include-moon: true;
$include-music-container: true;
$include-border: true;
$include-dni-flash: true;
