$primary-color: white;
$secondary-color: red;
$accent-color: white;
$extra-color: #ffbc00;
$background-color: hsl(0, 100%, 5%);
$text-shadow: 3px -1px #deb600;
$hover-color: red;
$theme-background: linear-gradient(
  to bottom,
  red -50%,
  var(--extra-color) 100%
);
