@use './functions/funcs.scss' as *;

$primary-color: white;
$secondary-color: red;
$accent-color: white;
$extra-color: #ffbc00;
$background-color: hsl(0, 100%, 5%);
$text-shadow: 0 0 5px red;
$title-shadow: generateShadow($secondary-color, $extra-color, 10, 1, 4, 1);
$hover-color: red;
$theme-background: linear-gradient(
  to bottom,
  red -50%,
  var(--extra-color) 100%
);
