// functions.scss

@mixin hoverShadow($image) {
  content: url($image);
  width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

@mixin addImage(
  $image,
  $hoverImage: null,
  $rowIndex: null,
  $columnIndex: null
) {
  // Check if hover image is provided
  $hasHoverImage: $hoverImage != null;

  // Generate styles for the regular image
  div:nth-child(#{$rowIndex}) div:nth-child(#{$columnIndex}) a img {
    content: url($image);
  }

  @if $hasHoverImage {
    // Generate styles for the hover image
    div:nth-child(#{$rowIndex}) div:nth-child(#{$columnIndex}) a:hover {
      flex-direction: column-reverse !important;
      align-items: center;

      img {
        content: url($hoverImage);

        @include hoverShadow($hoverImage);
      }
    }
  }
}
