$background-image: url('https://b.l3n.co/i/s4USuD.gif');
$border-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7e/Femboy_flag.svg');
$overlay-image: url('https://media3.giphy.com/media/tIHktzgRi8yjIplFVI/giphy.gif');
