@mixin loading {
  &:before {
    content: '';
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: var(--loading-image);
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    animation: loading-anim 2.8s ease 0s 1 normal forwards;
    pointer-events: none;

    @keyframes loading-anim {
      0% {
        opacity: 1;
        filter: grayscale(0%) saturate(200%) contrast(120%);
      }
      75% {
        opacity: 1;
        filter: grayscale(100%) saturate(200%) contrast(120%);
      }
      100% {
        opacity: 0;
        filter: grayscale(100%) saturate(0%) contrast(0%);
      }
    }
  }
}
