@use "../utils/colors.scss" as *;

@mixin scrollbar() {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: $extra-color;
  }

  ::-webkit-scrollbar-thumb {
    background: $extra-color;
    background-image: var(--scrollbar-image);
    background-size: cover;
    background-blend-mode: hard-light;
    background-position: center;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-blend-mode: difference;
  }

  ::selection {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
}
