@use 'sass:math';

@mixin cursor($images...) {
  cursor: url('#{nth($images, 1)}'), auto;
  animation: cursor-anim 500ms linear infinite;

  $keylist: ();

  // loop through the images
  // Use the loop-images function to create a keyframe for each image

  @each $image in $images {
    $keylist: append($keylist, $image);
  }

  @keyframes cursor-anim {
    @for $i from 1 through length($images) {
      $currentImage: nth($keylist, $i);
      $percentage: percentage(
        // Calcuate percentage for each keyframe min 0% max 100%
        math.div($i, length($images))
      ); // Calculate percentage for each keyframe
      #{nth($percentage, 1)} {
        cursor: url('#{$currentImage}'), auto;
      }
    }
  }
}
