@mixin scrollbar() {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(0, 100%, 5%);
  }

  ::-webkit-scrollbar-thumb {
    background: red;
    background-image: var(--scrollbar-image);
    background-size: cover;
    background-blend-mode: hard-light;
    background-position: center;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-blend-mode: difference;
  }
}
