:root {
  /* General */
  --bf4-shadow-outline-color: cyan;
  --bf4-shadow-outline-thickness: 2px;
  --primary-color: yellow;
  --accent-color: cyan;
  --header-spacer: ' ‖ ';
  --overlay-opacity: 0.7;

  /* Images */
  --header-background: url('https://i.makeagif.com/media/1-23-2016/3IohJf.gif');
  --background-wallpaper: url('https://media.tenor.com/fu4woH3wVwcAAAAC/battlefield4-bf4.gif');
  --overlay-image: url('https://spaceheyprofiles.fra1.cdn.digitaloceanspaces.com/BF4Profile/overlay.png');
  --cursor-image: url('https://spaceheyprofiles.fra1.cdn.digitaloceanspaces.com/BF4Profile/bf4cursor.png');
  --loading-image: url('https://media.tenor.com/fu4woH3wVwcAAAAC/battlefield4-bf4.gif');
  --your-friends-with-image: url('https://pngimg.com/d/jet_fighter_PNG116.png');

  /* Icons */
  --report-comment-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --spacehey-logo: url('https://spaceheyprofiles.fra1.cdn.digitaloceanspaces.com/BF4Profile/bf4-logo.png');
  --add-to-friends-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --add-to-facorites-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --send-message-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --forward-to-friend-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --instant-message-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --block-user-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --add-to-group-icon: url('https://pngimg.com/d/grenade_PNG1327.png');
  --report-user-icon: url('https://pngimg.com/d/grenade_PNG1327.png');

  /* Friends */
  --mask-image: url('https://i.imgur.com/UEhcjru.png');
}

@font-face {
  font-family: 'BF4';
  src: url('https://spaceheyprofiles.fra1.cdn.digitaloceanspaces.com/BF4Profile/Gobold%20Regular.otf');
}

* {
  cursor: var(--cursor-image) 32 32, auto !important;
}

html:before {
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: var(--loading-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  animation: loading-anim 4s ease 0s 1 normal forwards;
  pointer-events: none;
}

@keyframes loading-anim {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

a {
  color: var(--primary-color);
}

body {
  background-image: var(--background-wallpaper);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'BF4', sans-serif;
  text-shadow: 0px 0px var(--bf4-shadow-outline-thickness)
      var(--bf4-shadow-outline-color),
    -1px 0px var(--bf4-shadow-outline-thickness) var(--bf4-shadow-outline-color),
    1px 0px var(--bf4-shadow-outline-thickness) var(--bf4-shadow-outline-color);
  display: flex;
  flex-direction: column;
}

body:after {
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: var(--overlay-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: var(--overlay-opacity);
  z-index: 10;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
}

nav:before {
  content: '';
  background-image: var(--header-background);
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
  z-index: -1;
}

nav {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

nav .top,
nav .links {
  background: transparent;
}

nav .top .left .logo {
  content: var(--spacehey-logo);
  object-fit: contain;
  width: auto;
  height: 4rem;
  filter: drop-shadow(0px 0px 5px cyan);
}

nav .links {
  margin: 0 auto;
}

nav .links a {
  text-shadow: unset;
  transition: all 200ms ease;
}

nav .links a:hover {
  color: var(--accent-color);
  text-shadow: 0 0 2px black;
  text-decoration: none;
}

nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after {
  color: var(--accent-color);
  content: var(--header-spacer);
}

main {
  background: transparent;
  color: white;
}

.irish-image {
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 20rem;
  pointer-events: none;
}

.recker-image {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: 20rem;
  pointer-events: none;
}

.report {
  overflow: hidden;
}

.report img {
  content: var(--report-comment-icon);
  width: 1rem;
  height: auto;
  object-fit: cover;
}

.profile .friends .person {
  position: relative;
}

.profile .friends .person img:not(.icon) {
  -webkit-mask-image: var(--mask-image);
  mask-image: var(--mask-image);
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.profile .friends .person a:last-child:after {
  content: '';
  display: block;
  position: absolute;
  width: 95px;
  height: 95px;
  background-image: var(--mask-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 15px;
  transition: opacity 200ms ease;
}

.profile .friends .person a:last-child:hover:after {
  opacity: 0;
}

.profile .friends .person .verified-info .icon.verified {
  filter: sepia(420%) invert(420%) brightness(200%) hue-rotate(310deg);
}

.profile .profile-info {
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.profile .profile-info:after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--your-friends-with-image);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  height: 100%;
  animation: slide-image 5s ease-in-out infinite;
  pointer-events: none;
}

@keyframes slide-image {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

footer {
  background: transparent;
}
