@use './utils/colors.scss' as *;
@use './utils/functions.scss' as *;
@use './utils/vars.scss' as *;
@use './partials/comments.scss' as *;
@use './partials/scrollbar.scss' as *;
@use './utils/root.scss' as *;
@use './utils/fonts.scss' as *;

* {
  cursor: url('https://c.l3n.co/i/mxtyRK.png'), auto;
  animation: cursor 500ms linear infinite;

  @keyframes cursor {
    0% {
      cursor: url('https://c.l3n.co/i/mxtyRK.png'), auto;
    }

    25% {
      cursor: url('https://b.l3n.co/i/mxt57Z.png'), auto;
    }

    50% {
      cursor: url('https://c.l3n.co/i/mxtGFP.png'), auto;
    }

    100% {
      cursor: url('https://b.l3n.co/i/mxthIm.png'), auto;
    }
  }

  font-family: 'Feijoada', sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;

  @include scrollbar;

  a {
    color: var(--primary-color);
    transition: all 200ms ease;

    &:hover {
      text-decoration: none;
      color: hsl(270, 80%, 80%) !important;
    }
  }
}

html {
  overflow-x: clip;

  &:before {
    content: '';
    height: 100vh;
    width: 100vw;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: var(--loading-image);
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    animation: loading-anim 2.8s ease 0s 1 normal forwards;
    pointer-events: none;

    @keyframes loading-anim {
      0% {
        opacity: 1;
        filter: sepia(100%) saturate(100%) contrast(100%);
      }
      75% {
        opacity: 1;
        filter: sepia(0%) saturate(200%) contrast(120%);
      }
      100% {
        opacity: 0;
        filter: sepia(0%) saturate(200%) contrast(120%);
      }
    }
  }

  &:after {
    background-image: var(--overlay-image);
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    pointer-events: none;
    inset: 0;
    z-index: -3;
  }
}

body {
  background: var(--background-color);
  overflow-x: clip;
  position: relative;
  display: flex;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-position: top;
    background-repeat: no-repeat repeat;
    background-size: contain;
    z-index: -12;
    opacity: 0.5;
  }

  &:after {
    content: '';
    inset: 0;
    background: var(--extra-color);
    width: 100px;
    height: 100px;
    position: fixed;
    text-align: center;
    border-radius: 100%;
    filter: blur(50px);
    margin: 10rem;
    padding: 10rem;
    z-index: -10;
    animation: shadow-bg 5s ease-in-out alternate both infinite;

    @keyframes shadow-bg {
      0% {
        transform: translate(0, -100px);
      }
      25% {
        transform: translate(0vh, 0vw);
      }
      50% {
        transform: translate(2px, 100vh);
      }
      100% {
        transform: translate(50vw, -50vh);
      }
    }
  }
}

nav {
  position: relative;
  color: var(--primary-color);
  z-index: 1;

  &:before {
    content: '';
    background-image: var(--nav-image);
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  .top {
    background: linear-gradient(
      90deg,
      transparent 0%,
      hsl(0, 100%, 20%) 50%,
      transparent 100%
    );

    div {
      display: flex;
      place-items: center;
    }

    .left {
      a {
        img.logo {
          object-fit: contain;
          margin: 0;
          filter: drop-shadow(0px 0px 2px var(--secondary-color));
          content: var(--logo-image);
        }
      }
    }

    .center {
      .search-wrapper input {
        background: transparent;
        border-radius: 10px;
        padding: 0.4rem 0.4rem;
        outline: 1px solid var(--primary-color);
        border: 1px solid var(--primary-color);
        color: var(--accent-color);
      }

      form {
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 1rem;
      }
    }

    .right {
      color: var(--accent-color);
      column-gap: 0.2rem;

      a {
        color: var(--primary-color);
        font-size: 0%;

        &:before {
          content: 'Therapy';
          font-size: 1rem;
        }

        &:hover {
          color: hsl(270, 80%, 80%) !important;
        }
      }
    }
  }

  .links {
    text-align: center;
    background: linear-gradient(
      90deg,
      transparent 0%,
      hsl(0, 100%, 20%) 50%,
      transparent 100%
    );

    a {
      color: var(--primary-color);
      text-decoration: none !important;
      text-shadow: var(--text-shadow);

      &:hover {
        color: hsl(270, 80%, 80%) !important;
      }
    }

    li {
      &:not(:last-child):after {
        color: var(--accent-color);
      }

      &:first-child a:nth-child(1) .icon {
        content: url('https://b.l3n.co/i/sj5s2o.png');
        animation: shadow-spin 1s ease-in-out infinite;

        @keyframes shadow-spin {
          0% {
            transform: rotateZ(0);
          }
          100% {
            transform: rotateZ(360deg);
          }
        }
      }

      &.active a {
        color: hsl(270, 80%, 80%) !important;
        font-weight: unset !important;
      }
    }
  }
}

.logout-btn {
  font-size: 0%;

  &:before {
    content: 'Explode';
    font-size: 1rem;
  }
}

button,
.logout-btn,
.blog-entry .kudos-btn {
  color: var(--primary-color);
  border: none;
  background: rgba(0, 0, 0, 0.3) !important;
  padding: 0.4rem !important;
  border-radius: 5px;
  text-decoration: none !important;
  transition: all 200ms ease;

  &:hover {
    color: hsl(270, 80%, 80%) !important;
  }
}

.profile-info {
  border-color: var(--extra-color);
  border-radius: 10px;
  font-family: 'Beyonders', sans-serif;
  overflow: hidden;
  position: relative;

  &:before {
    content: '';
    background-image: url('https://img.wattpad.com/16adc1dab5d33b05b1458cb7861f6a9e0a996e06/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f39463649635656615f4c62736f773d3d2d3932333032343136302e313632333162363761353136663530613735313232323632313136312e676966');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('https://media.tenor.com/2100NQHbjV8AAAAi/shadow.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100%;
    width: 100%;
    pointer-events: none;
    animation: shadow-running 5s ease-in-out infinite;
    @keyframes shadow-running {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }

  .inner {
    h3,
    h3 a {
      color: var(--accent-color);
      font-size: clamp(15px, 3vw, 2rem);
      text-transform: uppercase;
      animation: friend-text-anim 1s ease-in-out infinite alternate both;
      @keyframes friend-text-anim {
        0% {
          color: var(--accent-color);
        }
        50% {
          color: var(--primary-color);
        }
        100% {
          color: var(--secondary-color);
        }
      }
      text-shadow: 0px -2px 12px red, 0px 0px 1px #bf3f3f, 0px 0px 1px #bf3f3f,
        1px 4px 1px #c04751, -1px 4px 1px #c04751, 2px 8px 1px #c14f62,
        -2px 8px 1px #c14f62, 3px 12px 1px #c25774, -3px 12px 1px #c25774,
        4px 16px 1px #c35f85, -4px 16px 1px #c35f85, 5px 20px 1px #c46797,
        -5px 20px 1px #c46797, 6px 24px 1px #c46fa8, -6px 24px 1px #c46fa8,
        7px 28px 1px #c577ba, -7px 28px 1px #c577ba, 8px 32px 1px #c67fcc,
        -8px 32px 1px #c67fcc, 9px 36px 1px #c787dd, -9px 36px 1px #c787dd,
        0px 36px 1px #c787dd;
      top: -1rem;
      position: relative;
    }
  }
}

.blurbs {
  .inner {
    .section {
      position: relative;
      color: var(--accent-color);
      margin: unset;

      .moon-container {
        position: fixed;
        right: 10px;
        object-fit: contain;
        top: 50%;
        transform: translateY(-50%);
        animation: moon-anim linear;
        @keyframes moon-anim {
          0% {
            transform: translateY(calc(-50% - 20svh));
            filter: drop-shadow(0px 0px 8px var(--secondary-color));
          }

          55% {
            filter: drop-shadow(0px 0px 8px var(--secondary-color));
          }

          75% {
            filter: drop-shadow(0px 0px 8px blue);
          }

          100% {
            transform: translateY(calc(-50% + 20svh));
            filter: drop-shadow(57px 0px 20px hsl(223, 58%, 47%));
          }
        }
        animation-timeline: scroll();
        max-height: 400px;
        height: 100%;
        max-width: 20rem;
        width: 100%;
        z-index: -4;
      }

      .moon-shaker {
        position: fixed;
        object-fit: contain;
        background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center
          center;
        background-size: contain;
        max-height: 400px;
        height: 100%;
        max-width: 20rem;
        width: 100%;
        animation: moon-shake 5s ease-in-out infinite alternate both;
        @keyframes moon-shake {
          0% {
            transform: translateX(-1px) translateY(1px);
          }
          20% {
            transform: translateX(-3px) translateY(3px);
          }
          40% {
            transform: translateX(4px) translateY(-4px);
          }
          60% {
            transform: translateX(0px) translateY(-1px);
          }
          80% {
            transform: translateX(3px) translateY(0px);
          }
          100% {
            transform: translateX(4px) translateY(-4px);
          }
        }

        &:before {
          content: '';
          position: absolute;
          background: url('https://b.l3n.co/i/sEtwIH.webp') no-repeat center
            center;
          background-size: contain;
          z-index: -3;
          height: 100%;
          width: 100%;
          animation: moon-anim-color linear;
          @keyframes moon-anim-color {
            0% {
              background-color: var(--secondary-color);
            }

            55% {
              background-color: var(--secondary-color);
            }

            75% {
              background-color: blue;
            }

            100% {
              background-color: hsl(223, 58%, 47%);
            }
          }
          animation-timeline: scroll();
          -webkit-mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
          mask-image: url('https://b.l3n.co/i/sEtwIH.webp');
          -webkit-mask-size: contain;
          mask-size: contain;
          -webkit-mask-position: center;
          mask-position: center;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          background-blend-mode: darken;
          opacity: 0.7;
        }
      }

      .tails {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url('https://b.l3n.co/i/s7l5VF.gif');
        background-size: cover;
        border-radius: 50%;
        pointer-events: none;
        z-index: 2;
        position: fixed;
        animation: moveX 5s linear 0s infinite alternate,
          moveY 6.8s linear 0s infinite alternate;
        @keyframes moveX {
          from {
            left: 0;
            transform: rotateY(180deg);
          }
          to {
            left: calc(100% - 50px);
          }
        }
        @keyframes moveY {
          from {
            top: 0;
          }
          to {
            top: calc(100% - 50px);
          }
        }
      }

      .lights {
        position: fixed;
        object-fit: contain;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background-repeat: repeat-x;
        z-index: 2;
      }

      .side-shadow {
        position: fixed;
        left: 10px;
        object-fit: contain;
        bottom: 10px;
        max-height: 400px;
        z-index: -2;
        animation: bounce 200ms ease-in-out infinite alternate both;
        @keyframes bounce {
          to {
            scale: 0.98;
          }
        }
      }

      .music-container {
        display: flex;
        justify-content: space-evenly;
        background-color: #212121;
        padding: 1rem;
        border-radius: 1rem;
        column-gap: 1rem;

        .iframe-container {
          position: relative;
          border-radius: 1rem;
          background: var(--theme-background);
          padding: 3px;
          display: flex;
          justify-content: center;
          place-items: center;

          iframe {
            z-index: 1;
            position: relative;
            height: 100%;
            width: 100%;
            min-height: 24rem;
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 50%;
            left: 0;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
            box-shadow: 0 0 10px #d919e5;
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50%;
            left: 0;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            box-shadow: 0 0 10px #d4b84f;
          }
        }
      }

      .sonic {
        position: fixed;
        object-fit: contain;
        bottom: 10px;
        left: 50%;
        max-height: 400px;
        z-index: -1;
        transform: translateX(-50%);
        animation: sonic-anim linear;
        animation-timeline: scroll();
        @keyframes sonic-anim {
          0% {
            transform: translateX(calc(-50% - 100svw));
          }

          100% {
            transform: translateX(calc(-50% + 100svw));
          }
        }
      }

      .shadow-art {
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(
          circle,
          hsl(18deg, 100%, 38.03%) 10%,
          #bf3f3f 40%,
          var(--extra-color) 80%
        );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index: -1;
        user-select: none;
        overflow: hidden;
        font-size: clamp(0.5em, 2vw, 1em) !important;
        text-align: center;
      }
    }
  }
}

.profile .friends .person p,
.comments-table td:first-child p,
.profile .blurbs .heading,
.profile .friends .heading h4,
span[itemprop='name'] h1,
.profile .contact .heading h4,
.profile .table-section .heading h4,
.setting-section .heading,
.home-actions .heading,
.profile .url-info p:first-child,
.profile-info {
  text-shadow: var(--text-shadow);
}

.general-about .details p:nth-child(1),
.general-about .details p:nth-child(2),
.profile .friends .person a p,
.profile .friends .heading,
.profile .blurbs .section,
.profile .blurbs .heading,
.profile .blurbs .section h4,
.profile .blog-preview p,
h4,
.blurbs .inner .section p,
.profile span h1,
.general-about .details .award a {
  color: var(--accent-color);
}

p,
ol li,
ul:not(nav .links):not(footer .links) li {
  font-size: unset;
}

nav .links li:not(:last-child)::after,
footer .links li:not(:last-child)::after {
  content: ' 🦔 ';
  color: var(--accent-color);
}

nav .links,
footer .links {
  text-wrap: balance;
}

nav .links {
  background-color: transparent;
}

b {
  color: var(--accent-color);
}

.profile .contact .heading,
.profile .table-section .heading,
.setting-section .heading,
.home-actions .heading {
  background: var(--theme-background);
}

@media only screen and (max-width: 675px) {
  .general-about {
    flex-direction: column;

    .details {
      top: unset !important;
      left: unset !important;
      position: relative !important;
      justify-content: center;
      place-items: center;
      width: 100%;
    }
  }

  main .profile {
    meta + div:nth-child(3) {
      display: flex !important;
      flex-direction: column;
      align-items: center;
    }

    div:nth-child(3) span[itemprop='name'] {
      position: unset;
      top: unset;
      left: unset;
      right: unset;
    }

    div:nth-child(3) span + p {
      position: relative !important;
      top: unset !important;
      right: unset !important;
      place-self: center;
      display: flex;
    }

    .contact .inner {
      margin: 0 auto;
      grid-template-columns: repeat(1, minmax(auto, 1fr)) !important;

      .f-row {
        grid-template-columns: repeat(2, minmax(max-content, 1fr)) !important;

        .f-col {
          a {
            display: flex;
            align-items: center;
            width: 100%;
            text-wrap: nowrap;
          }
          &:nth-child(2) {
            a {
              display: flex;
              flex-direction: row-reverse;
            }
          }
        }
      }
    }

    .music-container {
      flex-direction: column;
      row-gap: 1rem;
      img {
        height: auto;
      }
    }
  }
}

main {
  background: transparent;
  position: relative;
  color: var(--accent-color);
  box-shadow: -10px -10px 15px 10px var(--secondary-color),
    10px 10px 15px 10px var(--extra-color),
    0 0 15px 10px var(--secondary-color) inset;
  border-radius: 1rem;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    padding: 2px;
    pointer-events: none;
    background: var(--border-image);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:after {
    content: '';
    background-image: url('https://i.pinimg.com/originals/41/48/2d/41482d8c56dcb537ba570c47366fb2f7.gif');
    top: 0;
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 20rem;
    background-repeat: repeat no-repeat;
  }

  .profile {
    display: flex !important;
    flex-direction: column;

    .contact,
    .url-info,
    .table-section {
      border-radius: 1rem !important;
      overflow: hidden;
    }

    .url-info {
      border-color: var(--extra-color);
      border-radius: 5px;
      padding: 0;
      grid-column: 1 / -1;
      text-align: center;

      p:first-child {
        background: var(--theme-background);
        padding: 2px 7px;
      }

      p:nth-child(2) {
        padding: 6px;
      }
    }

    .table-section {
      border-color: var(--extra-color);
      text-align: center;
      display: flex;
      flex-direction: column;

      .inner {
        display: flex;
        flex: 1;

        .details-table {
          height: 100%;

          tbody {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            td p {
              text-wrap: balance;
            }
          }
        }
      }
    }

    .blurbs .heading,
    .friends .heading {
      background: var(--theme-background);
      border-radius: 10px;
      padding: 10px !important;
      box-shadow: 5px 5px 11px 0 #d919e5;
      border: 2px solid var(--extra-color);
    }

    .blurbs .heading h4,
    .friends .heading h4 {
      font-size: 0%;
    }

    .edit-link {
      grid-column: span 2;
      justify-self: center;
      margin: 0;
    }

    .general-about {
      display: flex;
      justify-content: center;
      flex-direction: column;
      grid-column: span 2;
      align-items: center;
      width: 100%;

      .profile-pic {
        height: auto !important;
        margin: unset !important;
        width: fit-content;
        perspective: 1000px;
        display: flex !important;
        justify-content: center;
        animation: profile-anim calc(200ms * 4) ease-in-out infinite alternate
          both;
        @keyframes profile-anim {
          0% {
            perspective: 1000px;
            transform: perspective(1000px) translateX(100%) translateZ(-200px)
              rotateY(45deg);
          }

          50% {
            perspective: 1000px;
            transform: perspective(1000px) translateZ(100px);
          }
          100% {
            perspective: 1000px;
            transform: perspective(1000px) translateX(-100%) translateZ(-200px)
              rotateY(-45deg);
          }
        }

        animation-fill-mode: forwards;
        position: relative;
        z-index: -1;

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          background-image: url('https://i.pinimg.com/originals/91/fe/d3/91fed3d5edd89e6672878cff06a35b64.gif');
          background-repeat: no-repeat;
          background-size: cover;
          scale: 1.14;
          z-index: 1;
        }

        img {
          max-height: 14rem;
          max-width: 14rem;
          perspective: 1000px;
          border-radius: 0.5rem;
          border: 3px solid var(--accent-color);
          object-fit: cover;
        }
      }

      .details {
        display: grid;
        grid-template-columns: repeat(3, minmax(1rem, 1fr));
        position: relative;
        justify-content: center;
        place-items: center;
        width: 100%;

        p {
          &:nth-child(1) {
            grid-column: 2;
            grid-row: 1;
          }

          &:nth-child(2) {
            grid-column: 1;
          }
        }

        .online {
          color: var(--accent-color);
          grid-column: 3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          place-items: center;
          position: relative;
          z-index: -2;

          img {
            content: url('https://media.tenor.com/fwRdoejcLPAAAAAi/shadow-the-hedgehog-shadow.gif');
            width: 10em;
            height: 10em;
            object-fit: contain;
            position: absolute;
            pointer-events: none;
          }
        }

        .edit-link {
          position: absolute;
          grid-row: 1;
        }
      }
    }

    .mood {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      place-items: center;
    }

    .contact {
      display: flex !important;
      flex-direction: column;
      border-color: var(--extra-color);
      grid-column: 1 / -1;
      text-align: center;

      .inner {
        padding: 0.4rem;
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        place-items: start;
        place-self: center;

        .f-row {
          margin: 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, minmax(auto, 1fr));

          .f-col {
            text-align: start;

            a {
              display: flex;
              column-gap: 0.4rem;
              align-items: center;
            }
          }
        }

        div div a img {
          transition: all 300ms ease;
        }

        @include addImage(
          'https://b.l3n.co/i/my91Ti.png',
          'https://media.tenor.com/JuFnnZnCCloAAAAd/shadow-the-hedgehog-vr-chat.gif',
          1,
          1
        );
        @include addImage(
          'https://b.l3n.co/i/my9geP.png',
          'https://media.tenor.com/YqGbiw9VaiAAAAAC/sonic-the-hedgehog-shadow-the-hedgehog.gif',
          1,
          2
        );
        @include addImage(
          'https://c.l3n.co/i/my98Fx.png',
          'https://media.tenor.com/6SOIHmw9t9AAAAAC/sonic-prime-shadow-the-hedgehog.gif',
          2,
          1
        );

        @include addImage(
          'https://c.l3n.co/i/my9im1.png',
          'https://pa1.aminoapps.com/6535/c77e4957b5b29263155c5e786f6b26cfe06edcab_hq.gif',
          2,
          2
        );
        @include addImage('https://b.l3n.co/i/my9joc.png', null, 3, 1);
        @include addImage(
          'https://a.l3n.co/i/my9rym.png',
          'https://pbs.twimg.com/media/D5LF5fHW4AEzPTM.jpg',
          3,
          2
        );
        @include addImage('https://c.l3n.co/i/my9I8K.png', null, 4, 1);
        @include addImage(
          'https://a.l3n.co/i/my9ZQZ.png',
          'https://media.tenor.com/jx7PJaSohs4AAAAC/sonic-shadow.gif',
          4,
          2
        );
      }
    }

    .blurbs {
      .heading h4:before {
        content: 'My shit';
        font-size: 1.5rem;
      }

      .about-content {
        * {
          color: var(--accent-color);
        }

        .dni-flash h1 {
          animation: dni-flash 300ms linear infinite alternate both;
          @keyframes dni-flash {
            to {
              color: var(--secondary-color);
            }
          }
        }
      }
    }

    meta[itemprop='identifier'] + div.left {
      display: grid;
      grid-template-columns: repeat(2, minmax(auto, 1fr));
      grid-template-rows: minmax(20px, 1fr);
      grid-column-gap: 1rem;
      width: 100%;
      position: relative;

      span[itemprop='name'] {
        grid-column: span 2;
      }

      .details-table {
        border: none;

        td:first-child {
          color: var(--accent-color);
          width: 100%;
          background: transparent;
        }

        tr {
          display: flex;
          flex-direction: column;
        }
        td {
          background: transparent;
          a {
            color: var(--accent-color);
          }
        }
      }
    }

    span[itemprop='name'] {
      display: flex;
      width: fit-content;
      justify-self: center;

      h1 {
        text-align: center;
        font-size: 1.3rem;
        font-family: 'Beyonders', sans-serif;
        transition: all 200ms ease;

        &:hover {
          text-shadow: 0px 0px 1px #bf3f3f, -0px 0px 1px #bf3f3f,
            1px 4px 1px #c04751, -1px 4px 1px #c04751, 2px 8px 1px #c14f62,
            -2px 8px 1px #c14f62, 3px 12px 1px #c25774, -3px 12px 1px #c25774,
            4px 16px 1px #c35f85, -4px 16px 1px #c35f85, 5px 20px 1px #c46797,
            -5px 20px 1px #c46797, 6px 24px 1px #c46fa8, -6px 24px 1px #c46fa8,
            7px 28px 1px #c577ba, -7px 28px 1px #c577ba, 8px 32px 1px #c67fcc,
            -8px 32px 1px #c67fcc, 9px 36px 1px #c787dd, -9px 36px 1px #c787dd,
            0px 36px 1px #c787dd;
        }
      }
    }

    h1 {
      margin: 0;
    }

    .friends {
      .heading h4:before {
        content: 'Furballs';
        font-size: 1.5rem;
      }

      .friends-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        align-items: center;
        place-items: center;

        .person {
          p {
            color: var(--accent-color);

            &:first-child {
              color: yellow;
            }
          }

          &:first-child img:not(.icon) {
            filter: invert(420%) sepia(69420%) saturate(1000%)
              hue-rotate(235deg) brightness(100%) contrast(100%);
          }

          img:not(.icon) {
            object-fit: cover;
            width: 96px;
            height: 96px;
            transition: all 300ms ease;
            filter: invert(420%) sepia(69420%) saturate(1000%)
              hue-rotate(320deg) brightness(100%) contrast(100%);
            -webkit-mask-image: url('https://c.l3n.co/i/mxgfcQ.png');
            mask-image: url('https://c.l3n.co/i/mxgfcQ.png');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            -webkit-mask-position: center;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-type: alpha;
            mask-type: alpha;

            &:hover {
              filter: unset;
              transform: scale(1.2);
            }
          }

          &:hover {
            animation: text-wobble 200ms ease-in-out infinite;
            @keyframes text-wobble {
              0% {
                scale: 1;
              }
              50% {
                scale: 1.1;
              }
              100% {
                scale: 1;
              }
            }
          }
        }
      }
    }

    @include comments;
  }
}

footer {
  color: var(--primary-color);
  background: transparent;
  p {
    font-size: 1rem;
  }
}
